h1,h2,h3,h4,h5,h6 {
margin: 0px;
}
p {
    font-size: 16px;
line-height: 150%;
letter-spacing: .5px;
color: #2c3a47;
font-weight: 500;
}
.main {
    padding: 50px 0px;
}
.main_title {
    font-size: 30px;
    margin-bottom: 30px;
}
.product_block {
    background: #FFF4D5;
    padding: 10px;
    border: 3px solid #e17055;
    border-left: 0px;
    border-top: 0px;
    margin-bottom: 40px;
  }
.category_title {
    font-size: 14px;
    text-transform: uppercase;
    color: #e17055;
    font-weight: 500;
    margin-bottom: 15px;
}
.item_type {
    font-size: 16px;
    margin-bottom: 0px;
}
.item_title {
    color: #e17055;
    font-size: 22px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin: 6px 0px;
    font-weight: 600;
}
.product_block hr {
    border-color: #d4d4d4;
    margin: 10px auto;
}
.product_brand {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 30px;
}
.product_quantity {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px;
}

/* Media Query For responsive */
@media only screen and (min-width: 1024px) {
    .container {width: 980px;}
}
@media only screen and (max-width: 1024px) {
    .container {width: 100%; padding: 0px 15px;}
}
@media only screen and (max-width: 767px) {
    .container {width: 100%; padding: 0px 10px;}
}